.shop {
  display: flex;
  gap: 50px;
}

.shop .sidebar {
  max-width: 244px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.shop .sidebar .search {
  position: relative;
}

.shop .sidebar .search .search-row {
  padding: 0 25px 15px 0;
}

.shop .sidebar .search .search-icon {
  position: absolute;
  right: 0;
  top: 0;
}

.shop .sidebar .sidebar-item {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.shop .sidebar .sidebar-item .sidebar-title {
  font-family: Josefin Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  padding: 0 0 15px 0;
  border-bottom: 2px solid rgba(0, 0, 0, 1);
}

.shop .sidebar .sidebar-item .sidebar-content .custom-list{
  margin: 0 0 0 20px;
}

.shop .sidebar .sidebar-item .sidebar-content .price-bar {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: space-between;
}

.shop .sidebar .sidebar-item .sidebar-content .colors {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 0 0 20px;
}

.shop .sidebar .sidebar-item .sidebar-content .colors .color .color-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.shop .sidebar .sidebar-item .sidebar-content .colors .color .color-checkbox+.color-name {
  display: inline-flex;
  align-items: center;
  user-select: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.shop .sidebar .sidebar-item .sidebar-content .colors .color .color-checkbox+.color-name::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid rgba(68, 68, 68, 20%);
  margin-right: 15px;
  background-repeat: no-repeat;
  background-position: center center;
  box-sizing: border-box;
}

.shop .sidebar .sidebar-item .sidebar-content .colors .color .color-checkbox:checked+.color-name {
  color: rgba(255, 142, 142, 1);
}

.shop .sidebar .sidebar-item .sidebar-content .colors .color .color-checkbox:checked+.color-name::before {
  background-image: url("../icons/check-pink.svg");
}

.shop .sidebar .sidebar-item .sidebar-content .reviewed-products {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.shop .sidebar .sidebar-item .sidebar-content .reviewed-products .product {
  display: flex;
  gap: 15px;
  align-items: center;
}

.shop .sidebar .sidebar-item .sidebar-content .reviewed-products .product .image .product-image {
  width: 50px;
  background: rgba(241, 242, 243, 1);
}

.shop .sidebar .sidebar-item .sidebar-content .reviewed-products .product .info {
  max-width: 150px;
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: space-between;
}

.shop .sidebar .sidebar-item .sidebar-content .reviewed-products .product .info {
  max-width: 222px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.shop .sidebar .sidebar-item .sidebar-content .reviewed-products .product .info .price .current-price {
  font-size: 14px;
  line-height: 14px;
}

.shop .sidebar .sidebar-item .sidebar-content .reviewed-products .product .info .price .old-price {
  font-size: 12px;
  line-height: 12px;
}

.shop .products-wrapper {
  max-width: 846px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.shop .products-wrapper .sort-and-count {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}

.shop .products-wrapper .sort-and-count .bold {
  font-size: 16px;
  font-weight: 600;
  line-height: 27px;
}

.shop .products-wrapper .sort-and-count .sort {
  max-width: 262px;
  width: 100%;
}

.shop .products-wrapper .sort-and-count .sort .input {
  color: rgba(0, 0, 0, 1);
}

.shop .products-wrapper .products {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 30px;
}

.shop .products-wrapper .products .product {
  max-width: 262px;
  width: 100%;
  display: flex;  
  gap: 20px;
  flex-direction: column;
}

.shop .products-wrapper .products .product .photo {
  height: 360px;
  background: #F1F2F3;
  position: relative;
}

.shop .products-wrapper .products .product .photo .top-bar {
  position: absolute;
  top: 15px;
  left: 20px;
  max-width: 222px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.shop .products-wrapper .products .product .photo .top-bar .labels {
  display: flex;  
  gap: 15px;
}

.shop .products-wrapper .products .product .photo .top-bar .labels .label {
  font-size: 10px;
  font-weight: 800;
  line-height: 10px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  padding: 5px 10px;
  background: rgba(255, 142, 142, 1);
}

.shop .products-wrapper .products .product .photo .top-bar .labels .label.new {
  background: rgba(149, 204, 181, 1);
}

.shop .products-wrapper .products .product .photo .product-image {
  width: 100%;
  height: 100%;
}

.shop .products-wrapper .products .product .info {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.shop .products-wrapper .products .product .info .name {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(68, 68, 68, 1);
}

.shop .products-wrapper .products .product button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.shop .products-wrapper .pagination {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 100%;
  align-items: center;
}

.shop .products-wrapper .pagination.hide {
  display: none;
}

.shop .products-wrapper .pagination .bottom.left, 
.shop .products-wrapper .pagination .bottom.right {
  cursor: pointer;
}

.shop .products-wrapper .pagination .pages {
  display: flex;
  gap: 20px;
}

.shop .products-wrapper .pagination .pages .page {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px; 
  border-bottom: 3px solid rgba(0, 0, 0, 1);
  height: 25px;
  opacity: 0.5;
  width: 10px;
  text-align: center;
  cursor: pointer;
}

.shop .products-wrapper .pagination .pages .page.active {
  opacity: 1;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  width: 22px;
  text-align: center;
}

.subscribe {
  max-width: 1680px;
  width: 100%;
  height: 480px;
  position: relative;
  margin: 200px auto 120px auto;
}

.subscribe .subscribe-body {
  background: #F1F2F3;
  max-width: 1680px;
  width: 100%;
  height: 450px;
  position: absolute;
  top: 30px;
}

.subscribe .subscribe-body .point-130 {
  position: absolute;
  left: 464px;
  top: -32px;
}

.subscribe .subscribe-body .subscribe-info {
  position: absolute;
  background: rgba(255, 255, 255, 1);
  left: 275px;
  max-width: 624px;
  width: 100%;
  height: 288px;
  padding: 60px;
  display: flex;
  flex-direction: column;
}

.subscribe .subscribe-body .subscribe-info .subscribe-title {
  color: #000;
  font-family: "Josefin Sans";
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  padding-bottom: 16px;
}

.subscribe .subscribe-body .subscribe-info .subscribe-description {
  color: #444;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 40px;
}

.subscribe .subscribe-body .subscribe-info .subscribe-input {
  display: flex;
  gap: 30px;
  max-width: 504px;
  width: 100%;
  cursor: pointer;
}

.subscribe .subscribe-body .subscribe-info .subscribe-input .button-wrapper {
  max-width: 144px;
  width: 100%;
  text-align: center;
}

.subscribe .subscribe-body .subscribe-info .subscribe-input .button-wrapper .button {
  padding: 17px 30px;
}

@media screen and (max-width: 1700px) {
  .subscribe {
    width: 80%;
    margin: 120px auto;
  }

  .subscribe .subscribe-body .subscribe-info {
    left: 20%;
  }
}

@media screen and (max-width: 1200px) {
  .shop .products-wrapper {
    width: 80%;
  }

  .subscribe .subscribe-body {
    height: 90%;
  }
}

@media screen and (max-width: 1024px) {
  .shop .products-wrapper .products {
    gap: 30px;
    margin: 0 25px;
  }

  .subscribe .subscribe-body .subscribe-info {
    left: 10%;
    width: 80%;
  }

  .subscribe .subscribe-body .point-130 {
    left: 65%;
  }
}

@media screen and (max-width: 768px) {
  .shop {
    width: 60%;    
  }

  .shop .products-wrapper .sort-and-count {
    flex-wrap: wrap;
    gap: 10px;
  }

  .shop .products-wrapper .products .product .photo {
    height: 260px;
    width: 200px;
  }

  .shop .products-wrapper .products .product .photo .top-bar {
    max-width: 160px;
  }

  .container .price {
    gap: 45px;
  }

  .shop .products-wrapper .pagination {
    width: 130%;
  }

  .shop .sidebar {
    width: 55%;
    gap: 30px;
  }

  .shop .sidebar .sidebar-item {
    gap: 15px;
  }

  .shop .sidebar .sidebar-item .season-sale-banner img {
    max-width: 170px;
  }

  .subscribe .subscribe-body .subscribe-info .subscribe-input .button-wrapper .button,
  .shop .sidebar .sidebar-item .button-wrapper .button {
    padding: 15px 10px;
    font-size: 14px;
  }

  .shop .sidebar .sidebar-item .sidebar-content .reviewed-products .product .info .price .old-price,
  .shop .sidebar .sidebar-item .sidebar-content .reviewed-products .product .image {
    display: none;
  }

  .shop .sidebar .sidebar-item .sidebar-content .reviewed-products .product {
    border-bottom: 1px solid rgba(68, 68, 68, 10%);
    padding: 0 0 5px 0;
  }

  .subscribe {
    margin: 60px auto 40px auto;
  }

  .subscribe .subscribe-body {
    height: 80%;
  }

  .subscribe .subscribe-body .subscribe-info {
    max-height: 330px;
    height: 100%;
  }

  .subscribe .subscribe-body .subscribe-info .subscribe-description {
    padding: 0 0 20px 0;
  }

  .subscribe .subscribe-body .subscribe-info .subscribe-input {
    flex-wrap: wrap;
    gap: 10px;
  }

  .subscribe .subscribe-body .subscribe-info .subscribe-input .button-wrapper {
    max-width: 200px;
  }

  .subscribe .subscribe-body .point-130 {
    left: 50%;
  }
}

@media screen and (max-width: 480px) {
  .shop {
    flex-wrap: wrap;
  }

  .shop .sidebar {
    width: 200%;
    padding: 0 20px;
  }

  .shop .sidebar .sidebar-item .sidebar-title {
    cursor: pointer;
    padding: 0 0 5px 0;
  }

  .shop .sidebar .sidebar-item .sidebar-title.reviewed,
  .shop .sidebar .sidebar-item .sidebar-content {
    display: none;
  }

  .shop .sidebar .sidebar-item .season-sale-banner img {
    max-width: 210px;
  }

  .shop .products-wrapper {
    width: 150%;
  }

  .subscribe {
    margin: 50px auto 30px auto;
  }
  
  .subscribe .subscribe-body .subscribe-info {
    left: 5%;
    padding: 40px;
  }
}